form {
  width: 400px;
  margin: 36px auto;
}
input {
  outline: none;
  height: 24px;
  width: 240px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: border-color 250ms ease;
}

input:hover {
  border-color: #000;
}
input:focus {
  border-color: #4e75ff;
}

button {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #4e75ff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  transition: background-color 250ms ease;
}
button:hover {
  background-color: #6c8cff;
}
