ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.gallery-item {
  border: 1px solid #808080;
  overflow: hidden;
  max-width: 360px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  box-sizing: border-box;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
  flex: 1;
}
